@font-face {
  font-family: "iconfont"; /* Project id 4818656 */
  src: url('iconfont.woff2?t=1737860558752') format('woff2'),
       url('iconfont.woff?t=1737860558752') format('woff'),
       url('iconfont.ttf?t=1737860558752') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pengyouquan:before {
  content: "\e600";
}

.icon-wenjianjia:before {
  content: "\e601";
}

.icon-tongxunlu:before {
  content: "\e662";
}

.icon-mofang:before {
  content: "\e656";
}

.icon-xiaochengxu:before {
  content: "\e63c";
}

.icon-guanji:before {
  content: "\e628";
}

.icon-shouji:before {
  content: "\e8b9";
}

.icon-liaotian:before {
  content: "\e89c";
}

